<div class='jumbotron'>
  <h1>Welcome to Robot World</h1>
  <p>
    Hand-select your robot and let it work for you. Our robots are top-quality and customizable.
    You'll never need to work another day in your life.
  </p>
</div>
  <h3>See Our Robot Data</h3>
  <p>Average Robot Age: <%= @robot_analyst.average_age %></p>

  <table class="table table-condensed">
    <caption> Robots Across the County </caption>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Number of Robots</th>
    </tr>
      <% @robot_analyst.robots_per_city.each do |city, number| %>
      <tr>
        <td><%= city %></td>
        <td><%= number %></td>
      </tr>
      <% end %>
  </table>

  <table class="table table-condensed">
    <caption> Robots in Your State</caption>
    <tr>
      <th scope="col">State</th>
      <th scope="col">Number of Robots</th>
    </tr>
      <% @robot_analyst.robots_per_state.each do |state, number| %>
      <tr>
        <td><%= state %></td>
        <td><%= number %></td>
      </tr>
      <% end %>
  </table>


  <table class="table table-condensed">
    <caption>Robots in Every Field</caption>
    <tr>
      <th scope="col">Department</th>
      <th scope="col">Number of Robots</th>
    </tr>
      <% @robot_analyst.robots_per_department.each do |department, number| %>
      <tr>
        <td><%= department %></td>
        <td><%= number %></td>
      </tr>
      <% end %>
  </table>
